// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointment {
  border: 5px solid blue;
  border-radius: 5px;
  margin: 15px
}
