

<% if @appointments.blank? %>
  <p>You don't have any upcoming appointments yet. <%= link_to "Make an appointment", new_user_appointment_path(@user)%> with your rabbi now! </p>
  <% else %>
  <h2><%=@user.name%>'s Future Appointments</h2>
    <% @appointments.each do |appointment| %>
    <div class="appointment">
      <p> <%= link_to "Date: #{appointment.time_and_date.strftime("%A, %B %y")}, Time: #{appointment.time_and_date.strftime("%I:%M %p")}, Service: #{appointment.service.name}", user_appointment_path(appointment.user, appointment)%></p>
    </div>
    <% end %>
  <% end %>
